<mat-card [ngClass]="{'against': isAgainst}">
  <div class="spinner" *ngIf="saving">
    <mat-spinner></mat-spinner>
  </div>
  <div class="icons">
    <button
      *ngIf="!isAgainst"
      mat-icon-button
      (click)="isAgainst = true">
      <mat-icon>check</mat-icon>
    </button>
    <button
      *ngIf="isAgainst"
      mat-icon-button
      (click)="isAgainst = false">
      <mat-icon>close</mat-icon>
    </button>
    <button
      mat-icon-button
      color="primary"
      (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
    <button
      mat-icon-button
      color="accent"
      (click)="cancel()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <textarea autofocus [(ngModel)]="argumentMeta.text.text"></textarea>
</mat-card>
