<div class="motto"><i>Let us all merrily disagree with each other!</i></div>

<h1>About Disagreers.com</h1>


<p><b>How can any sane person think that …?</b></p>

<p>Questions of this kind ripple through brains all around the world, on both sides of various issues. People seem to be divided (often curiously close to fifty-fifty!) on questions that seem trivial for both sides.

<p>How is this possible? Are 50% of people really stupid? Ignorant? Evil?

<p>No. We believe that the overwhelming majority of people are decent and well meaning on both sides of any of those thorny issues. But they
<ol>
<li>do have different values and basic definitions of what good is
<li>possess different,
contradicting information about the world
<li>are deliberately misled by a small minority of not so well meaning actors.
</ol>

<p>Whether you are right wing or left wing, liberal or conservative, for or against abortion or the use of nuclear energy, it is essential that you understand the other side. We have to accept differences and disagreements due to the first point above and work together to eliminate reasons two and three as much as possible.

<p>To do that, we need to start talking to each other. Not in heated flame wars between the sides or in isolated resonance chambers of the like minded in social media. But in a calm, open and friendly exploration of disagreements with people that we love and/or respect. Or at least with people whom we are truely curious about: <i>how can they be <b>this</b> stupid?</i>

<p>Disagreers.com is meant to help with this!

<p>On the site you can express your views: what you believe and why. You can compare notes with others. You can explain your views on their arguments and get their feedback on yours. And, you can dig down. You can annotate any text in the discussion with some other claim if you think there is an underlying disagreement surfacing about some other question. Then, you can continue disagreeing on that claim!

<p>The goal is not to convince or to win. It is to understand.

<p>You can have a fruitful disagreement on the site with just one other disagreer. But things get even better as more people join the disagreement. You can see and reuse everyone else’s arguments and counters, get insights about popular opinion, figure out interesting correlations of opinions on different questions, identify important and divisive claims. (Most of these are not yet implemented, sorry. :) )

<p>Last but not least, disagreers.com is hoped to become an alternative tool for fact checking. Unlike other fact checking sites, Disagreers.com will never weigh in on the truth of any claim, a victor will never be declared by us. The site itself is absolutely neutral about all claims. But, we are going to collect and surface the best of the best arguments for both sides of a claim together with the distribution of the popular opinion. We argue that lacking an oracle trusted by everyone (which we do indeed desperately lack) this is the best that can be done to bust outright lies and to provide the best input for independent judgment on more complex questions.

<p>This fact checking function will be technically facilitated by a claim annotator browser plugin. Similarly to how you can annotate text on Disagreers.com, the plugin allows users to annotate text on any webpage. If an article makes a claim (or, just silently assumes/implies one) that you disagree with then you can annotate it with a Disagreers.com claim. Other users will see the annotation and can at a glance identify disputed statements.

<p><i>Feedback, questions, ideas? Reach us at <a href="mailto:disagreers.com@gmail.com">disagreers.com@gmail.com</a>.</i>
