<div
  class="main-search-div"
  *ngIf="!saving">
  <div class="searchoradd">
    <div class="fieldcutter">
      <mat-form-field appearance="outline" class="claim-text">
	<mat-label>Claim text / claim filter</mat-label>
	<input
	  matInput
	  autocomplete="off"
	  [(ngModel)]="userInput"
	  placeholder="Start typing to filter claims...">
      </mat-form-field>
    </div>
    <button
      class="saveasnew"
      mat-raised-button
      color="primary"
      [disabled]="filteredClaims.length > 0"
      (click)="saveAsNewClaim()">
      Add as new Claim
    </button>
  </div>
  <div class="claim-list">
    <mat-action-list>
      <button
	mat-list-item
	*ngFor="let claim of filteredClaims"
	(click)="claimSelected.emit(claim)">
	{{claim.text}}
      </button>
    </mat-action-list>
  </div>
</div>
<mat-spinner *ngIf="saving"></mat-spinner>
