<div
  *ngIf="!saving">
  <div>
    <mat-form-field appearance="fill" class="claim-text">
      <mat-label>Claim</mat-label>
      <input
	matInput
	autocomplete="off"
	[(ngModel)]="userInput"
	placeholder="Start typing already...">
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="filteredClaims.length > 0"
      (click)="saveAsNewClaim()">
      Add as new Claim
    </button>
  </div>
  <div class="claim-list">
    <div *ngIf="!userInput">
      Start typing to filter claims...
    </div>
    <mat-action-list>
      <button
	mat-list-item
	*ngFor="let claim of filteredClaims"
	(click)="claimSelected.emit(claim)">
	{{claim.text}}
      </button>
    </mat-action-list>
  </div>
</div>
<mat-spinner *ngIf="saving"></mat-spinner>
