.main-div {
    max-width: 1000px;
    margin: auto;
}

.logo {
    padding: 10px;
    cursor: pointer;
}
.disagreers {
    font-family: 'Inspiration', cursive;
    font-size: 40px;
    color: #aa0040;
}
.com {
    font-size: 20px;
    color: #008850;
}

.pageheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #dddddd;
}
