.badge-picture {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-style: solid;
}

.profile-picture img {
    flex: 1 1 auto;
}

:host(.current-user) .full-badge .badge-picture {
    border-color: var(--user-color);
}
:host(.disagreer) .full-badge .badge-picture {
    border-color: var(--disag-color);
}
