.badge-picture {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-style: solid;
    border-radius: 20px;
    border-width: 10px;
    width: 40px;
    height: 40px;
}

.badge-picture.small {
    width: 0px;
    height: 0px;
}

.profile-picture img {
    flex: 1 1 auto;
}

:host(.current-user) .full-badge .badge-picture {
    border-color: var(--user-color);
}
:host(.disagreer) .full-badge .badge-picture {
    border-color: var(--disag-color);
}
