<div mat-dialog-title>
  <h1>New annotation</h1>
</div>

<mat-dialog-content>
  <div *ngIf="!selectedClaim">
    <h3>Select the claim that the selected text implies/assumes!</h3>
    <p>Adding an annotation for &quot;{{data.textFragment}}&quot;.</p>
    <app-claim-search (claimSelected)="claimSelected($event)">
    </app-claim-search>
  </div>
  <div *ngIf="selectedClaim as claim">
    <h3>Does the claim need to be negated for this annotation?</h3>
    <p><b>&quot;{{data.textFragment}}&quot;</b> implies/assumes that <b>&quot;{{claim.text}}&quot;</b> is<br>
      <span class="bool-selection">
	<span [ngClass]="{'inactive-bool': negated, 'active-bool': !negated }">
	  true
	</span>
	<mat-slide-toggle [(ngModel)]="negated"></mat-slide-toggle>
	<span [ngClass]="{'inactive-bool': !negated, 'active-bool': negated }">
	  false
	</span>
      </span>
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!selectedClaim"
    [mat-dialog-close]="[selectedClaim?.id, negated, selectedClaim?.text]">
    Add claim annotation!
  </button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
 
