.disagreers-panel {
    display: flex;
    align-items: center;
    gap: 5px;
}

.current-user-badge {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 22px;
    background-color: var(--user-color);
}

.email-wrapper {
    height: 52px;
}
