<div class="disagreers-panel">
  <div class="current-user-badge">
    <app-user-badge
      class="current-user"
      *ngIf="usersService.currentUser as currentUser"
      [user]="currentUser">
    </app-user-badge>
  </div>
  <app-user-badge
    class="disagreer"
    *ngIf="usersService.disagreer as disagreer"
    [user]="disagreer">
  </app-user-badge>

  <button
    mat-mini-fab
    color='accent'
    *ngIf="!adding && !usersService.disagreer"
    (click)="adding = true">
    <mat-icon>add</mat-icon>
  </button>

  <div class="email-wrapper">
    <mat-form-field *ngIf="adding" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="my-friend@domain.com" [(ngModel)]="email">
    </mat-form-field>
  </div>
  <button *ngIf="adding" (click)="addDisagreer()">Add</button>
</div>
