<div class="disagreers-panel">
  <div
    class="current-user-badge"
    *ngIf="usersService.currentUser as currentUser">
    <mat-menu #currentUserMenu="matMenu">
      <button
	mat-menu-item
	[routerLink]="['/user', currentUser.email]">
	View profile
      </button>
      <a
	mat-menu-item
	href="/logout">
	Logout
      </a>
    </mat-menu>
    <app-user-badge
      [matMenuTriggerFor]="currentUserMenu"
      class="current-user"
      [user]="currentUser">
    </app-user-badge>
  </div>
  <button
    mat-mini-fab
    color='primary'
    *ngIf="!usersService.currentUser"
    (click)="login()">
    <mat-icon>login</mat-icon>
  </button>
  <app-user-badge
    class="disagreer"
    *ngIf="usersService.disagreer as disagreer"
    [routerLink]="['/user', disagreer.email]"
    [user]="disagreer">
  </app-user-badge>

  <button
    mat-mini-fab
    color='accent'
    *ngIf="!usersService.disagreer"
    (click)="startAdd()">
    <mat-icon>add</mat-icon>
  </button>
</div>
