<div class="disagreers-panel">
  <div
    class="current-user-badge"
    *ngIf="usersService.currentUser as currentUser">
    <app-user-badge
      class="current-user"
      [user]="currentUser">
    </app-user-badge>
  </div>
  <button
    mat-mini-fab
    color='primary'
    *ngIf="!usersService.currentUser"
    (click)="login()">
    <mat-icon>login</mat-icon>
  </button>
  <app-user-badge
    class="disagreer"
    *ngIf="usersService.disagreer as disagreer"
    [user]="disagreer">
  </app-user-badge>

  <button
    mat-mini-fab
    color='accent'
    *ngIf="!usersService.disagreer"
    (click)="startAdd()">
    <mat-icon>add</mat-icon>
  </button>
</div>
