<h1>Please log in</h1>

<p>You need to log in to be able to disagree with others! Please prepare your Google account....</p>

<p>By logging in, you confirm to have read and accepted <a routerLink="/privacy">our (lack of) privacy notice</a>.</p>

<p>This is a very early proof of concept version. So:
<ol>
  <li>Expect horrible bugs, but do let us know about them!
  <li>Visual design by a software engineer, apologies for hurting your eyes..
  <li>Not optimized at all for mobile devices, use on a computer if at all possible.
</ol>

<p>Feedback, questions, ideas are very welcome. Reach us at <a href="mailto:disagreers.com@gmail.com">disagreers.com@gmail.com</a>.</p>

<a
  mat-raised-button
  href="/googlelogin?next={{nextURL}}"
  color="primary">
  <img
    class="google-icon"
    src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg">
  Sign in with Google
</a>
