<div class="text-cont">
  <span
    class="text-segment"
    *ngFor="let stuff of dispList"
    [attr.data-start-idx]="stuff.pos"
    [attr.data-should-use-offset]="!stuff.annotation">
    <mat-icon
      *ngIf="stuff.annotation"
      (mouseenter)="doHiglight(stuff.annotation)"
      (mouseleave)="undoHighlight()"
      (click)="goToClaim(stuff.annotation.claimId)"
      [matTooltip]="tooltipFor(stuff.annotation)">
      home
    </mat-icon>
    <span
      *ngIf="stuff.text"
      [ngClass]="{highlight: stuff.pos >= highlightStart && stuff.pos < highlightEnd}">
      {{stuff.text}}
    </span>
  </span>
</div>
<button *ngIf="selected" mat-raised-button color="primary" (click)="annotate()">
  <mat-icon>label</mat-icon>
</button>
<div *ngFor="let annotation of annotations">
  {{annotation.claimText}}
  {{annotation.startInText}}
  {{annotation.endInText}}
</div>
