.highlight {
    background-color: #FFFF00;
}

.add-highlight {
    background-color: #0000FF;
}

.add-annotation-button {
    display: inline-block;
    height: 24px;
    width: 24px;
    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
    vertical-align: middle;
}
