.arg-comp {
    display: flex;
    height: 200px;
}
.arg-comp.against {
    flex-direction: row-reverse;
}

.arg {
    display: flex;
    flex: 1;
}
.arg-comp.against .arg {
    flex-direction: row-reverse;
}

.user-badges {
    flex: 0 0 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.argument-container {
    flex: 1;
    height: 70%;
    display: flex;
    align-items: stretch;
}

.argument-card {
    flex: 1 0 auto;
    margin: 10px;
}

.counter {
    flex: 1;
}

.counter-spacer {
    height: 30%
}
.belt-container {
    height: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.belt {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 100%;
    transition: flex-basis 0.2s;
    padding: 0px;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
}

.belt-container:hover .belt {
    flex-basis: 70%;
    transition: flex-basis 0.2s;
}

.counter-card {
    flex: 1 0 auto;
    align-self: stretch;
    margin: 10px;
}

.new-counter-button {
    flex: 0 0 auto;
    margin: 10px;
    padding: 0px;
}

.one-badge-cont {
    position: relative;
}

.one-badge-cont.current-user {
    cursor: pointer;
}

.transparent {
    filter: opacity(60%);
}

.ordinal-cont {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ordinal {
    font-weight: bold;
    font-style: italic;
    width: 25px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    cursor: default;
}

.bigplus-cont {
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bigplus {
    font-size: 55px;
}

.ordinal.disagreer {
    background-color: var(--disag-color);
}
.ordinal.current-user {
    background-color: var(--user-color);
    cursor: pointer;
}


@keyframes Insert {
  0% {
    padding-left: 100%;
  }
  100% {
    padding-left: 0px;
  } 
}

.insert-animation {
  animation: Insert 1s;
}
