.arg-comp {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 200px;
}
.arg-comp.against {
    flex-direction: row-reverse;
}

.arg {
    flex: 1;
    border-style: solid;
    border-width: 2px;
    width: 50%;
}
.counter {
    width: 50%;
    flex: 1;
    border-style: solid;
    border-width: 2px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.belt {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 70%;
    padding: 10px;
    gap: 10px;
    overflow: hidden;
}

.counter-card {
    flex: 1 0 auto;
}
