<div
  [ngClass]="{'arg-comp': true, 'against': argumentMeta.isAgainst, 'insert-animation': true}"
  (mouseenter)="hovered = true"
  (mouseleave)="hovered = false">
  <div class="arg">
    <div class="argument-container">
      <mat-card class="argument-card">
	<mat-card-content>
	  <app-ano-text [textId]="argumentMeta.textId"></app-ano-text>
	</mat-card-content>
	<mat-card-actions>
	  <button
	    mat-raised-button
	    *ngIf="selectionList.notFirst(argumentId)"
	    (click)="selectionList.moveUp(argumentId)">
	    <mat-icon>keyboard_arrow_up</mat-icon>
	  </button>
	  <button
	    mat-raised-button
	    *ngIf="selectionList.notLast(argumentId)"
	    (click)="selectionList.moveDown(argumentId)">
	    <mat-icon>keyboard_arrow_down</mat-icon>
	  </button>
	</mat-card-actions>
	<div class="user-badges">
	  <div
	    *ngIf="hasOpinion && selectionList.isSelected(argumentId) && currentUser as user"
	    class="one-badge-cont"
	    (mouseenter)="currentUserExpanded = true"
	    (mouseleave)="currentUserExpanded = false">
	    <div class="ordinal-cont">
	      <span class="ordinal current-user">
		#{{selectionList.selectionOrdinal(argumentId)}}
	      </span>
	    </div>
	    <app-user-badge
	      class="current-user"
	      [user]="user"
	      [expanded]="currentUserExpanded">
	    </app-user-badge>
	  </div>
	  <div
	    *ngIf="newSelectionOrdinal as ordinal"
	    (click)="selectionList.add(argumentId)"
	    class="one-badge-cont transparent">
	    <div class="bigplus-cont">
	      <span class="bigplus">+</span>
	    </div>
	    <div class="ordinal-cont transparent">
	      <span class="ordinal current-user">
		#{{ordinal}}
	      </span>
	    </div>
	    <app-user-badge
	      *ngIf="currentUser as user"
	      class="current-user transparent"
	      [user]="user"
	      [expanded]="true">
	    </app-user-badge>
	  </div>
	  <div
	    *ngIf="disagreerSelectionOrdinal && disagreer as user"
	    class="one-badge-cont"
	      (mouseenter)="disagreerExpanded = true"
	      (mouseleave)="disagreerExpanded = false">
	    <div class="ordinal-cont">
	      <span class="ordinal disagreer">
		#{{disagreerSelectionOrdinal}}
	      </span>
	    </div>
	    <app-user-badge
	      class="disagreer"
	      [user]="user"
	      [expanded]="disagreerExpanded"
	      color="blue">
	    </app-user-badge>
	  </div>
	</div>
      </mat-card>
    </div>
  </div>
  <div class="counter">
    <div class="counter-spacer">
    </div>
    <div *ngIf="!addingCounter" class="belt-container">
      <div [@counterBeltTrigger]="'x'" class="belt" *ngFor="let idx of [-1, 0, 1]; trackBy: beltTrackBy">
	<mat-card
	  *ngIf="orderedCounters[idx + displayPosition] as counter"
	  class="counter-card"
	  (click)="repositionBelt(idx)">
	  <mat-card-content>
	    <app-ano-text [textId]="counter.textId"></app-ano-text>
	  </mat-card-content>
	  <mat-card-actions>
	    <button
	      mat-raised-button
	      *ngIf="selectedCounter !== counter.id"
	      (click)="doSelectCounter(counter.id, $event)">
	      <mat-icon>flag</mat-icon>
	    </button>
	  </mat-card-actions>
	</mat-card>
	<button
	  class="new-counter-button"
	  *ngIf="displayPosition + idx === -1"
	  mat-raised-button
	  (click)="addingCounter = true">
	  +
	</button>
      </div>
    </div>
    <app-new-counter *ngIf="addingCounter" [claimId]="claimId" [argumentId]="argumentMeta.id" (onCancel)="addingCounter = false" (onSaved)="reload()">
    </app-new-counter>
  </div>
</div>
