<div class="header">
  <div>
    <app-annotation-marker [claimId]="claimId">
    </app-annotation-marker>
  </div>
  <h1>
    <span> {{text$ | async}}</span>
  </h1>
  <div class="users-panel">
    <button mat-mini-fab (click)=shareClaim()><mat-icon>share</mat-icon></button>
  </div>
</div>

<p *ngIf="opinion === undefined" class="action-needed">What do you think? Tell your opinion about this claim using the purple slider below!</p>
<div class="opinion-slider">
  <span><mat-icon>check</mat-icon> Agree </span>
  <div class="multi-slider">
    <mat-slider
      *ngIf="disagreerOpinion !== undefined"
      tabindex=-1
      min="-1" max="+1" step="0.001"
      color='accent'
      [value]="disagreerOpinionSlider">
    </mat-slider>
    <div class="blocker" (click)="clickSliderDiv($event)">
    </div>
    <mat-slider
      min="-1" max="+1" step="0.001"
      color='primary'
      [(value)]="opinionSlider"
      class="current-user">
    </mat-slider>
  </div>
  <span> Disagree <mat-icon>close</mat-icon></span>
</div>

<p *ngIf="shouldRequestArguments" class="action-needed">What makes you think so? Select or add arguments below that are the most convincing to you!</p>

<div class="args-headers">
  <div class="for args-header">
    <span><mat-icon>check</mat-icon> Arguments for</span>
    <button
      *ngIf="!newArgumentMeta"
      class="add-argument"
      mat-mini-fab
      color="primary"
      (click)="addArgument(false)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="against args-header">
    <span>Arguments against <mat-icon>close</mat-icon></span>
    <button
      *ngIf="!newArgumentMeta"
      class="add-argument"
      mat-mini-fab
      color="primary"
      (click)="addArgument(true)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<div
  *ngIf="newArgumentMeta as arg"
  class="one-argument">
  <app-argument
    [claimId]="claimId"
    [argumentMeta]="arg"
    [selectionList]="arg.isAgainst ? selectedArgumentsAgainst : selectedArgumentsFor"
    [disagreerSelectionList]="arg.isAgainst ? disagreerSelectedArgumentsAgainst : disagreerSelectedArgumentsFor"
    [opinion]="opinion"
    [disagreerOpinion]="disagreerOpinion"
    (newArgumentFinished)="newArgumentMeta = undefined"
    (requestDiff)="argumentDiff($event)">
  </app-argument>
</div>

<div
  *ngFor="let arg of args; last as isLast; trackBy: argumentTrackBy"
  id="argument-{{arg.id}}"
  [@argumentInOutTrigger]="'x'"
  (@argumentInOutTrigger.start)="argumentAnimation(arg.id, false)"
  (@argumentInOutTrigger.done)="argumentAnimation(arg.id, true)"
  class="one-argument">
  <app-argument
    [claimId]="claimId"
    [argumentMeta]="arg"
    [selectionList]="arg.isAgainst ? selectedArgumentsAgainst : selectedArgumentsFor"
    [disagreerSelectionList]="arg.isAgainst ? disagreerSelectedArgumentsAgainst : disagreerSelectedArgumentsFor"
    [opinion]="opinion"
    [disagreerOpinion]="disagreerOpinion"
    [counterSelection]="getCounterSelection(selectedCounters, arg)"
    (selectCounter)="selectCounter(arg.id, $event)"
    [disagreerCounterSelection]="getCounterSelection(disagreerSelectedCounters, arg)"
    (requestDiff)="argumentDiff($event)">
  </app-argument>
</div>

