<app-ano-text [textId]="textId"></app-ano-text>

<div>
  Agree
  <mat-slider min="-1" max="+1" step="0.1" [(value)]="opinionSlider">
  </mat-slider>
  Diagree
</div>

<span *ngIf="opinion === undefined">You haven't told your opinion yet. Grab that slider already!</span>
<span *ngIf="opinionClass === OpinionClass.STRONGLY_DISAGREE">You strongly disagree with this claim.</span>
<span *ngIf="opinionClass === OpinionClass.DISAGREE">You disagree with this claim.</span>
<span *ngIf="opinionClass === OpinionClass.NOT_SURE">You are not sure about this claim.</span>
<span *ngIf="opinionClass === OpinionClass.AGREE">You agree with this claim.</span>
<span *ngIf="opinionClass === OpinionClass.STRONGLY_AGREE">You strongly agree with this claim.</span>

<div *ngFor="let arg of args; last as isLast">
  <app-argument
    [claimId]="claimId"
    [argumentMeta]="arg"
    [selectionList]="arg.isAgainst ? selectedArgumentsAgainst : selectedArgumentsFor"
    [hasOpinion]="opinion !== undefined"
    [selectedCounter]="this.selectedCounters[arg.id]"
    (selectCounter)="selectCounter(arg.id, $event)">
  </app-argument>
  <mat-divider *ngIf="!isLast"></mat-divider>
</div>
<button *ngIf="!addingArgument" mat-raised-button color="primary" (click)="addingArgument = true">
  Add Argument
</button>
<app-new-argument *ngIf="addingArgument" [claimId]="claimId" (onCancel)="addingArgument = false" (onSaved)="newArgumentSaved()">
</app-new-argument>
