.disagreers {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

.one-argument {
    overflow: hidden;
}

h1 {
    font-size: 35px;
}

.opinion-slider {
    font-size: 24px;
}

.opinion-slider mat-icon {
    font-weight: bold;
    color: var(--user-color);
}
