<h1>Disagreers.com (lack of) privacy notice</h1>

<p>In the current proof-of-concept version of <b>disagreers.com</b>
all content you add to the site (including claims, arguments, counters, your selections of preferred arguments, counters and your opinions about claims) are publicly visible. Please don't add stuff that is sensitive for you.

<p>If you want to protect your identity consider creating a new Google account for using the site.

<p>We do not track anything about users other than the content explicitly added by them.

<p>We do not share any data with any third party. (Apart from all data being public, as mentioned above. :) )

<p>If you have any concern or you want to remove your content then please email us at <a href="mailto:disagreers.com@gmail.com">disagreers.com@gmail.com</a>.
