.spacer  {
    display: inline-block;
    width: 20px;
    height: 24px;
}
mat-icon {
    flex: 0 0 auto;
    font-weight: bold;
    margin-left: -20px;
}
.current-user {
    color: var(--user-color);
}
.disagreer {
    color: var(--disag-color);
}

:host.neutral-current-user .current-user {
    color: grey;
}

:host {
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    height: 24px;
    display: inline-flex;
    vertical-align: middle;
    gap: 0px;
    align-items: center;
}
